<div *ngIf="!person">
	<p>{{msg}}</p>
</div>

<div *ngIf="person">
	<p>Nombre: <span>{{person.name}}</span></p>
	<p>Apellidos: <span>{{person.surname}}</span></p>
	<p>Edad: <span>{{person.age}}</span></p>
</div>


